body {
    text-align: center;
    background-color: #56594A;
}

/* background-image: url("immage/2b87ce43e374d83b194fa4fe69745d9a.png");
    background-repeat: no-repeat;
    background-position: right top; 
}*/

span {
    font-size: 30px;
    font-family: "Savoye LET";
    color: rgb(233, 226, 14);
    font-weight: 400;
}

h1 {
    color: #272844;
    font-size: 25px;
    font-weight: 400;
}

/* #img_left {
    float: left;
}

#img_right {
    float: right;
} */

img {
    margin: 0 30px;
}

.game {
    margin: 0 100px;
}

#show_result {
    color: #272844;
    font-family: "Savoye LET";
    font-size: 25px;
}

#do_it {
    color: #272844;
}